* {
  margin: 0;
  padding: 0;
  transition: all 300ms ease-out;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #d0d0d0;
}

.warning {
  background: #ff8383;
  color: #f1f1f1;
}


.container {
  /* margin: 10% auto; */
  /* width: 65%; */
  background: #f1f1f1;
  /* padding: 3%; */
  /* border-radius: 20px; */
}
h1 {
  background: white;
  color: #484848;
  font-size: -webkit-xxx-large;
  margin: auto;
  margin-bottom: 0;
  font-family: sans-serif;
  /* border-radius: 20px; */
  /* padding: 0 2%; */
  padding: 2% 4%;
}
ol {
  margin: auto;
  margin-top: 0;
  -webkit-margin-start: 35px;
}

ol > li {
  margin: 1rem;
  width: 100%;
}

ol > li:hover {
  margin-right: 0;
  margin-left: 2rem;
}

ol > li > a {
  color: #252525;
  font-size: xx-large;
  text-decoration: none;
  padding: 3%;
}


.input {
  margin: 3% auto;
  font-size: 32px;
  width: fit-content;
}